In [24]:
from pandas import read_excel, DataFrame

In [25]:
origin = read_excel("수변_반경별_행정동.xlsx")
origin.head()

   800미터  720미터  640미터  560미터  480미터  400미터  320미터  240미터  160미터   80미터
0   가락본동  가락제1동  가락제1동  가락제1동  가락제1동  가락제1동  가락제1동  가락제1동  가락제1동  가락제1동
1  가락제1동  가락제2동  가락제2동  가락제2동  가락제2동    가산동    가산동    가산동    가산동    가산동
2  가락제2동   가리봉동   가리봉동    가산동    가산동  가양제1동  가양제1동  가양제1동  가양제1동  가양제1동
3   가리봉동    가산동    가산동  가양제1동  가양제1동  가양제2동  가양제2동  가양제2동  가양제2동  가양제2동
4    가산동  가양제1동  가양제1동  가양제2동  가양제2동  가양제3동  가양제3동  가양제3동  가양제3동  가양제3동

In [26]:
all_value_counts = origin.stack().value_counts().sort_index().to_dict()

In [27]:
all_value_counts

{'가락본동': 1,
 '가락제1동': 10,
 '가락제2동': 5,
 '가리봉동': 3,
 '가산동': 10,
 '가양제1동': 10,
 '가양제2동': 10,
 '가양제3동': 10,
 '갈현제1동': 10,
 '갈현제2동': 10,
 '강일동': 10,
 '개봉제1동': 10,
 '개봉제2동': 10,
 '개봉제3동': 10,
 '개포제1동': 10,
 '개포제2동': 10,
 '개포제3동': 10,
 '개포제4동': 10,
 '거여제1동': 10,
 '거여제2동': 8,
 '고덕제1동': 10,
 '고덕제2동': 10,
 '고척제1동': 10,
 '고척제2동': 4,
 '공릉제1동': 10,
 '공릉제2동': 10,
 '광장동': 10,
 '구로제1동': 10,
 '구로제2동': 10,
 '구로제3동': 10,
 '구로제4동': 10,
 '구로제5동': 10,
 '구산동': 10,
 '구의제1동': 2,
 '구의제2동': 2,
 '구의제3동': 10,
 '군자동': 10,
 '금호1가동': 7,
 '금호2·3가동': 6,
 '금호4가동': 10,
 '낙성대동': 10,
 '난곡동': 5,
 '난향동': 3,
 '남가좌제1동': 10,
 '남가좌제2동': 10,
 '노량진제1동': 10,
 '노량진제2동': 10,
 '녹번동': 10,
 '논현제1동': 1,
 '능동': 3,
 '답십리제1동': 10,
 '답십리제2동': 10,
 '당산제1동': 6,
 '당산제2동': 10,
 '대림제1동': 8,
 '대림제2동': 10,
 '대림제3동': 10,
 '대방동': 10,
 '대조동': 10,
 '대치제1동': 10,
 '대치제2동': 10,
 '대학동': 10,
 '대흥동': 10,
 '도곡제1동': 6,
 '도곡제2동': 10,
 '도림동': 10,
 '도봉제1동': 10,
 '도봉제2동': 10,
 '도화동': 10,
 '독산제1동': 10,
 '독산제2동': 6,
 '독산제3동': 4,
 '둔촌제1동': 7,
 '등촌제1동': 4,
 '등촌제3동': 3,
 '마장동': 10,
 '마천제1동': 10,
 '마천제2동': 10,
 '망우본동': 10,
 '망우제3동': 3,
 '망원제1동': 10,
 '망원제2동': 10,
 '면목본동': 10,
 '면목제2동': 10,
 '면목제3·8동': 10,
 '면목제4동': 10,
 '면목제5동': 10,
 '면목제7동': 10,
 '명일제2동': 4,
 '목제1동': 10,
 '목제2동': 10,
 '목제3동': 2,
 '목제5동': 10,
 '묵제1동': 10,
 '묵제2동': 10,
 '문래동': 10,
 '문정제1동': 2,
 '문정제2동': 10,
 '미성동': 6,
 '미아동': 3,
 '반포본동': 10,
 '반포제1동': 2,
 '반포제2동': 10,
 '반포제3동': 10,
 '반포제4동': 4,
 '방배본동': 10,
 '방이제1동': 7,
 '방이제2동': 8,
 '방학제1동': 10,
 '방학제2동': 9,
 '방학제3동': 10,
 '방화제2동': 10,
 '방화제3동': 10,
 '번제1동': 10,
 '번제2동': 10,
 '번제3동': 10,
 '보광동': 10,
 '보라매동': 10,
 '보문동': 10,
 '부암동': 10,
 '북가좌제1동': 10,
 '북가좌제2동': 10,
 '불광제1동': 10,
 '불광제2동': 10,
 '사근동': 10,
 '사당제2동': 10,
 '사당제4동': 3,
 '사당제5동': 4,
 '삼성동': 10,
 '삼성제1동': 10,
 '삼전동': 10,
 '상계제10동': 10,
 '상계제1동': 10,
 '상계제2동': 10,
 '상계제3·4동': 10,
 '상계제5동': 10,
 '상계제6·7동': 10,
 '상계제8동': 10,
 '상계제9동': 4,
 '상도제1동': 10,
 '상도제2동': 10,
 '상도제3동': 10,
 '상도제4동': 10,
 '상봉제1동': 5,
 '상봉제2동': 10,
 '상암동': 10,
 '상일제1동': 10,
 '상일제2동': 10,
 '서강동': 10,
 '서교동': 10,
 '서림동': 10,
 '서빙고동': 10,
 '서원동': 10,
 '석관동': 10,
 '석촌동': 10,
 '성내제1동': 10,
 '성내제2동': 4,
 '성내제3동': 9,
 '성산제1동': 10,
 '성산제2동': 10,
 '성수1가제1동': 10,
 '성수1가제2동': 10,
 '성수2가제1동': 10,
 '성수2가제3동': 10,
 '성현동': 5,
 '세곡동': 10,
 '송정동': 10,
 '수궁동': 10,
 '수색동': 10,
 '수서동': 10,
 '수유제2동': 10,
 '수유제3동': 10,
 '숭인제1동': 6,
 '숭인제2동': 10,
 '시흥제1동': 10,
 '시흥제2동': 10,
 '시흥제3동': 10,
 '시흥제4동': 9,
 '시흥제5동': 10,
 '신4동': 10,
 '신길제1동': 10,
 '신길제3동': 10,
 '신길제4동': 6,
 '신길제5동': 10,
 '신길제6동': 10,
 '신길제7동': 10,
 '신내제1동': 10,
 '신내제2동': 10,
 '신당5동': 4,
 '신당동': 5,
 '신대방제1동': 10,
 '신대방제2동': 10,
 '신도림동': 10,
 '신림동': 10,
 '신사동': 10,
 '신사제1동': 10,
 '신사제2동': 10,
 '신수동': 10,
 '신원동': 10,
 '신월제7동': 5,
 '신정제2동': 10,
 '신정제3동': 8,
 '신정제6동': 10,
 '신정제7동': 10,
 '신촌동': 8,
 '쌍문제1동': 10,
 '쌍문제2동': 10,
 '쌍문제3동': 10,
 '쌍문제4동': 10,
 '안암동': 10,
 '암사제1동': 6,
 '암사제2동': 10,
 '암사제3동': 10,
 '압구정동': 7,
 '양재제1동': 10,
 '양평제1동': 10,
 '양평제2동': 10,
 '여의동': 10,
 '역촌동': 10,
 '연남동': 10,
 '연희동': 10,
 '염리동': 2,
 '염창동': 10,
 '영등포동': 10,
 '영등포본동': 10,
 '오금동': 10,
 '오류제1동': 10,
 '오류제2동': 10,
 '오륜동': 10,
 '옥수동': 10,
 '왕십리도선동': 10,
 '왕십리제2동': 4,
 '용강동': 10,
 '용답동': 10,
 '용문동': 3,
 '용신동': 10,
 '우이동': 10,
 '원효로제2동': 10,
 '월계제1동': 10,
 '월계제2동': 10,
 '월계제3동': 10,
 '월곡제1동': 1,
 '월곡제2동': 10,
 '위례동': 10,
 '은천동': 10,
 '응봉동': 10,
 '응암제1동': 10,
 '응암제2동': 7,
 '응암제3동': 10,
 '이문제1동': 10,
 '이문제2동': 10,
 '이촌제1동': 10,
 '이촌제2동': 10,
 '이태원제1동': 1,
 '인수동': 5,
 '인헌동': 9,
 '일원본동': 4,
 '일원제1동': 10,
 '자양제1동': 6,
 '자양제2동': 10,
 '자양제3동': 10,
 '자양제4동': 10,
 '잠실본동': 10,
 '잠실제2동': 10,
 '잠실제3동': 10,
 '잠실제4동': 10,
 '잠실제6동': 10,
 '잠실제7동': 10,
 '잠원동': 10,
 '장안제1동': 10,
 '장안제2동': 10,
 '장위제1동': 7,
 '장위제2동': 7,
 '장위제3동': 10,
 '장지동': 5,
 '전농제1동': 8,
 '전농제2동': 6,
 '제기동': 10,
 '조원동': 10,
 '종암동': 10,
 '중계본동': 4,
 '중계제1동': 10,
 '중계제2·3동': 10,
 '중계제4동': 10,
 '중곡제1동': 10,
 '중곡제2동': 3,
 '중곡제3동': 10,
 '중곡제4동': 3,
 '중앙동': 10,
 '중화제1동': 5,
 '중화제2동': 10,
 '증산동': 10,
 '창신1동': 6,
 '창신3동': 1,
 '창제1동': 7,
 '창제2동': 10,
 '창제3동': 10,
 '창제4동': 10,
 '창제5동': 10,
 '천호제2동': 10,
 '천호제3동': 1,
 '청담동': 10,
 '청량리동': 10,
 '청룡동': 10,
 '청림동': 4,
 '평창동': 10,
 '풍납제1동': 10,
 '풍납제2동': 10,
 '하계제1동': 5,
 '하계제2동': 10,
 '한강로동': 10,
 '한남동': 10,
 '합정동': 10,
 '항동': 1,
 '행당제1동': 10,
 '행당제2동': 6,
 '행운동': 10,
 '홍은제1동': 10,
 '홍은제2동': 10,
 '홍제제1동': 10,
 '홍제제2동': 6,
 '홍제제3동': 10,
 '화양동': 7,
 '황학동': 10,
 '회기동': 3,
 '휘경제1동': 10,
 '휘경제2동': 10,
 '흑석동': 10}

In [23]:
df = DataFrame(list(all_value_counts.items()), columns=["읍면동명", "수변점수"])
df.to_excel("수변점수.xlsx",index=False)

In [29]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [33]:
dic_df = DataFrame(list(dic.items()), columns=['key', 'value'])
dic_df

     key          value
0   name            pey
1  phone  010-9999-1234
2  birth           1118